<p>
    Controls:
</p>
<ul>
    <li><strong>WASD or arrow keys</strong> = Move player</li>
    <li><strong>WASD or arrow keys + shift</strong> = Place or remove item</li>
    <li><strong>0-9 keys</strong> = Select hotbar item</li>
    <li><strong>0-9 keys + shift</strong> = Assign hotbar item</li>
    <li><strong>Enter key</strong> = Chat</li>
</ul>
<p>
    Point values:
</p>
<ul>
    <li>Planting seed = &minus;1 point</li>
    <li>Picking rose = +3 points</li>
    <li>Picking lily = +5 points</li>
    <li>Picking marigold = +8 points</li>
    <li>Picking poisonous flower = &minus;20 points</li>
    <li>Destroying seed or sprout = &minus;1 point</li>
    <li>Placing or removing block = Free! :-)</li>
</ul>


